
.signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .size {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .size label {
    margin-bottom: 5px;
    font-size: 1em;
  }
  
  .size input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  .signup-link {
    margin-top: 15px;
    text-align: center;
  }
  
  .signup-btn {
    padding: 10px;
    background-color:#28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: #0056b3;
  }
  
  .signup-link p {
    margin: 10px 0;
    color: #555;
  }
  .signup-redirect{

    display: grid;
    place-items: center;
  }